#配置文件
[HOST]
host =http://47.107.168.87:56478/

[MODE]
mode_test = {'login':[],'recharge':[1,2],'register':[],'add':[]}

[MYSQL]
db_config={"host":"47.107.168.87",
                   "user":"python",
                   "password":"python666",
                   "port":3306,
                    "db" : 'future',
                   }

[CHECK_LEVEL_MONEY]
leve_money_mode = {'recharge':[1，2],'add':[]}
